@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&family=Roboto+Slab&display=swap');
:root {
  --primary-color: #6c91c2;
  --accent-color: #8fbcbb;
  --bg-color: #1f2a35;
  --card-color: #2a3644;
  --text-color: #d8dee9;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.scores {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 5px;
}

.title {
  display: flex;
  margin-left: 10px;
  padding-bottom: 50px;
  font-family: 'Roboto Condensed', sans-serif;
}

.game {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin-right: 50px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 20px;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.pokeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  font-family: 'Roboto Slab', serif;
  padding: 1.8rem;
  transition: 0.3s ease;
  cursor: pointer;
}

.pokeCard:hover {
  border-color: var(--accent-color);
  box-shadow: var(--shadow);
}
